@import url('https://fonts.googleapis.com/css2?family=Abel:wght@200;400&display=swap');

:root {
    --primary-color: #445566;
    --secondary-color: #433963;
}

* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {   
    font-family: 'Abel', sans-serif;
    margin-bottom: 60px;
}

#main-header {
    background-color: var(--secondary-color);    
    color: #ffffff;
}


