@model RegistrationRequestDTO

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
    </div>
    <div class="row align-items-center">
        <div id="main-header" class="col-lg-6 mx-auto text-center d-flex flex-column justify-content-center vh-100">
            <div class="heading-1">
                <span>Nice to see you again</span>
            </div>

            <div class="heading-2">
                <span>WELCOME BACK</span>
            </div>

            <div class="heading-3">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id eros sed augue ultrices finibus. Duis vel lectus pulvinar,
                    dignissim libero eget, rhoncus odio. Curabitur facilisis placerat ante vitae consequat.
                    Fusce volutpat nisl a ligula posuere dictum.
                </span>
            </div>
        </div>
        <div class="col-lg-6 mx-auto text-center d-flex flex-column justify-content-center vh-100">
            <form id="register-form">
                <div class="container">
                    <div class="row text-center pb-4">
                        <h2><span>REGISTER</span></h2>
                        <span>Kindly complete all the details in the fields. Thank you.</span>
                    </div>
                    <div class="row text-center">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2 pb-2">
                            <input id="FullName" asp-for="FullName" type="text" class="form-control" placeholder="Enter fullname" autofocus autocomplete="off"/>
                        </div>
                        <div class="col-lg-8 offset-lg-2 pb-2">
                            <input id="Email" asp-for="Email" type="text" class="form-control" placeholder="Enter email" autocomplete="off"/>
                        </div>
                        <div class="col-lg-8 offset-lg-2 pb-2">
                            <input id="PhoneNumber" asp-for="PhoneNumber" type="text" class="form-control" placeholder="Enter phonenumber" autocomplete="off"/>
                        </div>
                        <div class="col-lg-8 offset-lg-2 pb-2">
                            <input id="UserName" asp-for="UserName" type="text" class="form-control" placeholder="Enter username" autocomplete="off"/>
                        </div>
                        <div class="col-lg-8 offset-lg-2 pb-2">
                            <input id="Password" asp-for="Password" type="password" class="form-control" placeholder="Enter password" autocomplete="off" />
                        </div>
                        <div class="col-lg-8 offset-lg-2 pb-2">
                            <input id="ConPassword" asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Re-enter password" autocomplete="off" />
                        </div>

                        <div class="col-lg-8 offset-lg-2 pt-2">
                            <button type="button" class="form-control btn-success btn-register">Register</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}