
@model PaginatedList<HomeDTO>

<div class="d-none d-md-block">
    <div id="Carousel-Image" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
        <div class="carousel-inner">
            <div class="carousel-item active" style="height: 580px;">
                <img class="w-100 d-block carousel-pic" src="~/img/Carousel/1.jpg" alt="Slide Image">
            </div>
            <div class="carousel-item" style="height: 580px;">
                <img class="w-100 d-block carousel-pic" src="~/img/Carousel/2.jpg" alt="Slide Image">
            </div>
            <div class="carousel-item" style="height: 580px;">
                <img class="w-100 d-block carousel-pic" src="~/img/Carousel/3.jpg" alt="Slide Image">
            </div>
        </div>
        <div>
            <a class="carousel-control-prev" href="#Carousel-Image" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon text-dark"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#Carousel-Image" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon text-dark"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#Carousel-Image" data-bs-slide-to="0" class="active bg-dark"></button>
            <button type="button" data-bs-target="#Carousel-Image" data-bs-slide-to="1" class="bg-dark"></button>
            <button type="button" data-bs-target="#Carousel-Image" data-bs-slide-to="2" class="bg-dark"></button>
        </div>
    </div>
</div>


<div class="container-fluid pt-5">
    <div class="row mb-5 pt-sm-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2 style="font-family: Abel, sans-serif;">OUR ROOMS</h2>
            <p class="w-lg-50" style="font-family: Abel, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed finibus sed purus consequat porta. Praesent vitae tincidunt dolor, bibendum lacinia urna. Donec quis consectetur mi, eu luctus lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec facilisis metus quis orci faucibus, id aliquam ante lacinia. Donec a leo pharetra, venenatis est ut, scelerisque leo. Nam vitae ex nec felis suscipit lobortis non sed nisl.</p>
        </div>
    </div>
    <form id="checking_info">

        @*    SELECT DATE CHECKIN *@

        <div class="row align-items-center">

            <div class="col-lg-4 col-md-6 col-sm-12 pt-3">
                <div class="form-group">
                    <span> CHECK IN DATE </span>
                    <div class="pt-2">
                        <input id="CheckInDate" class="bg-dark-subtle form-control" type="date" asp-for="@Model.ITEMS.FirstOrDefault()!.CheckinDate">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 pt-3">
                <div class="form-group">
                    <span> CHECKOUT DATE </span>
                    <div class="pt-2">
                        <input id="CheckOutDate" class="bg-dark-subtle form-control" type="date" asp-for="@Model.ITEMS.FirstOrDefault()!.CheckoutDate">
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 pt-3">
                <div class="form-group">
                    <span>&nbsp;</span>
                    <div>
                        <button onclick="GetRoomAvailable()" class="btn btn-primary" type="button" style="width:100%;">
                            <span>CHECK AVAILABILITY</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <partial name="Common/_RoomList" model="@Model" />
    </form>
</div>


@section Scripts {
    <script src="~/js/Common/Common.js"></script>
    <script src="~/js/Crud/Room/JSRoom.js"></script>
}
